.Button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.Button:focus {
  outline: none;
}

.Button:active {
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .3);
}

.Button:disabled {
  background: #ccc;
  color: #000;
  cursor: not-allowed;
}

.error {
  background: rgba(240, 87, 108, 1);
  color: #fff;
}

.error:hover {
  background: rgba(240, 87, 108, .6);
  transition: background-color .3s ease-in-out;
}

.success {
  background: rgba(149, 227, 26, 0.7);
  color: #000;
}

.success:hover {
  background: rgba(161, 240, 69, .5);
  transition: background-color .3s ease-in-out;
}

.primary {
  background: #2884f6;
  color: #fff;
}

.primary:hover {
  background: rgba(40, 132, 246, .6);
  transition: background-color .3s ease-in-out;
}
